<header id="wlu-header">
  <img src="/wlu-text.png" alt="WLUSSA text">
  <nav id="laurier-nav">
    <ul>
      <li><%= link_to "Home", wlu_home_path %></li>
      <li><%= link_to "About", wlu_about_path %></li>
      <li><%= link_to "Contact", wlu_contact_path %></li>
      <li><%= link_to "Constitution", wlu_constitution_path %></li>
      <li><%= link_to "UWaterloo SSA", uw_home_path %></li>
    </ul>
  </nav>
</header>
